<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.esp_eventos">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LOGIN"
        tools:targetApi="31">
        <activity
            android:name=".CustomCalendar"
            android:exported="false" />
        <activity
            android:name=".CalendarViewMonthly"
            android:exported="false"
            android:theme="@style/Theme.LOGIN" />
        <activity
            android:name=".RedefinirSenha"
            android:exported="false"
            android:theme="@style/Theme.LOGIN" />
        <activity
            android:name=".Activity_Splash_Form_Login"
            android:exported="false"
            android:theme="@style/Theme.LOGIN" />
        <activity
            android:name=".FormVisualizacao"
            android:exported="false"
            android:theme="@style/Theme.LOGIN" />
        <activity
            android:name=".PhotoDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.LOGIN" />
        <activity
            android:name=".PaginaPrincipal"
            android:exported="false"
            android:theme="@style/Theme.LOGIN" />
        <activity
            android:name=".FormCadastroEvento"
            android:exported="false"
            android:theme="@style/Theme.LOGIN" />
        <activity
            android:name=".FormCadastroEventoExterno"
            android:exported="false"
            android:theme="@style/Theme.LOGIN" />
        <activity
            android:name=".VisualizarAmbienteEvento"
            android:exported="false"
            android:theme="@style/Theme.LOGIN" />
        <activity
            android:name=".FormVisualizacaoExterno"
            android:exported="false"
            android:theme="@style/Theme.LOGIN" />
        <activity
            android:name=".AmbienteEvento"
            android:exported="false"
            android:theme="@style/Theme.LOGIN" />
        <activity
            android:name=".FormCadastro"
            android:exported="false"
            android:label="@string/title_activity_form_cadastro"
            android:theme="@style/Theme.LOGIN" />
        <activity
            android:name=".activity_splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.auth.GOOGLE_SIGN_IN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.esp_eventos.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>